
.border {
  padding: 30px;
}

.center {
  margin: auto;
  width: 50%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.right-align {
  text-align: right;
  padding-top: 2%;
}

.bottom-options {
  float: right;
}

.red-text {
  color: red;
}

.success {
  text-align: center;
  padding-top: 25%;
}
